body{
    /* background-color: black; */
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-wrap:wrap;
}
input[type='text']{
    background-color: black;
    color:whitesmoke;
    text-align: right;
    font-weight: bolder;
    font-size: 50px;
    width: 550px;
    height: 120px;


}
.equalto{
    width: 270px;
}
.container{
    background-color: black;
  }
button{
    margin: 5px;
    border: none;
    background-color:white;
    border-radius: 10px;
    border-color: none;
    font-weight: bolder;
    font-size: 50px;
    width: 130px;
    height: 100px;
}
button:hover{
    background-color: gray;
}